#ROMs
*.sfc
*.smc
*.SFC
*.SMC
*.srm
*.ram

#MSU stuff
*.msu
*.pcm

#ZIPs
*.7z
*.zip
*.rar

#backups
*.bak
*.BAK

# build logs
*.LOG
*.log
*/SF/*.DOC
*/SF/*.doc
*/SF/*.TMP
*/SF/*.tmp
*/SF/*.txt
*.TXT
*.CSV
*.csv
*.CSV#
*.csv#

# VSCode stuff
*/.vscode/*

# Files generated during assembly
*.CCR
*.PCR
SF/DATA/COL/*.PAC
SF/DATA/COL/ALLCOLS.COL

# Object files
*.sob
*.SOB

# Linker Address Maps
*.map
*.MAP

# macOS stuff
.DS_Store

# Downloaded SuperFamiconv
TOOLS/SuperFamiconv-*.tar.gz
TOOLS/SuperFamiconv-*/

# Downloaded usb2snes-cli
usb2snes-cli/

# Compiled tools
TOOLS/bgconv/bin/palconv
TOOLS/bgconv/bin/sf_crunch
TOOLS/bgconv/bin/superfamiconv
TOOLS/mugconv/foxchr
TOOLS/mugconv/superfamiconv/superfamiconv
TOOLS/cgx2fx
TOOLS/fx2cgx
TOOLS/fontconv/foxfont
usb2snes-cli.bin
TOOLS/argonautmapdec
TOOLS/fxedit2
TOOLS/inccol
TOOLS/romExtender2

# Removed Windows executables
dosbox-x.exe
TOOLS/bgconv/bin/palconv.exe
TOOLS/bgconv/bin/sf_crunch.exe
TOOLS/bgconv/bin/superfamiconv.exe
TOOLS/cgx2fx_win.exe
TOOLS/fontconv/foxfont.exe
TOOLS/fx2cgx_win.exe
TOOLS/mugconv/foxchr.exe
TOOLS/mugconv/superfamiconv/superfamiconv.exe
TOOLS/palconv.exe
TOOLS/palconv_win64.exe
TOOLS/sf_crunch.exe

# Tools written in C#
TOOLS/SharpUltraStarFoxTools/.vs/
TOOLS/SharpUltraStarFoxTools/*/bin/
TOOLS/SharpUltraStarFoxTools/*/obj/
TOOLS/SharpUltraStarFoxTools/*/*.csproj.user
